
.bg{
    height: 100%;
    background-size: cover;
    background-position: center;
}

#heading{
    font-size:60px;
    text-align:left;
   border-radius: 20px;
}

#top_text{
    font-size:30px;
    font-family: 'Courier New', Courier, monospace;
    color:red;
    padding-left: 50 px;
}

#rez{
    font-family: Algerian;
 
}

#acu{
    font-family: Algerian;
}

#camera{
    background-color:black;
    height:200px;
    width: 200px;
}

#capture{
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius:10px;
    background-color:greenyellow;
}

#Cheack{
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius:10px;
    background-color:blue;  
    color:black;
}

#rezult{
    background-color:rgb(255, 255, 255);
    height:200px;
    width: 200px;
    float: left;
    position: relative;
    left: 250px;
    bottom: 220px;
}

#botom{
    position: relative;
   right: 180px;
}

.oo{
    padding-left: 90px;
}